.item {
  transition: all linear 0.5s;
  font-weight: 600;
}

.item:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}

.github:hover {
  background-color: #6e5494;
  color: white;
}

.linkedin:hover {
  background-color: #0072b1;
  color: white;
}

.instagram:hover {
  background-color: #8a3ab9;
  color: white;
}
